.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

@media screen and (min-width: 60rem) {
  .container {
    grid-template-columns: auto minmax(0, 1fr);
    max-width: 72rem;
  }
}
