@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  scroll-margin-top: theme(spacing.8);
  text-box: trim-both cap alphabetic;
}

p {
  text-wrap: pretty;
}
