.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container[data-open='false'] {
  display: none;
}

@media screen and (min-width: 60rem) {
  .container[data-open='false'] {
    display: flex;
  }
}
