.container {
  display: grid;
  grid-auto-rows: min-content;
  align-items: start;
  padding: 3rem 2rem;
}

@media screen and (min-width: 60rem) {
  .container {
    grid-template-rows: 1fr min-content;
    height: fit-content;
    min-height: 100dvh;
    padding: 6rem 2rem 2rem;
  }
}
