.container {
  display: grid;
  grid-template-columns: repeat(20, 4.2rem);
  grid-auto-rows: 1.4rem;
  min-height: 100vh;
  transform: rotateX(45deg) rotateZ(-45deg);
}

.container::before {
  --grid-line-color: #27232f;
  --grid-size: 5.6rem;

  content: '';
  position: absolute;
  inset: -94rem;
  background-image: repeating-linear-gradient(
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent var(--grid-size)
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent var(--grid-size)
    );
  background-size: var(--grid-size) var(--grid-size);
}
