:root {
  --shiki-color-text: #eeeeee;
  --shiki-color-background: #111915;

  --color-foreground: #fff;
  --color-foreground-interactive: hsla(0, 0%, 100%, 0.9);
  --color-background: #000;
  --color-separator: hsla(0, 0%, 100%, 0.96);
  --font-family-mono: 'SF Mono', Menlo, Consolas, 'Ubuntu Mono',
    'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  --font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-heading: var(--font-family-body);
  --font-size-heading-1: 3.4rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.4rem;
  --font-size-body: 1.3rem;
  --line-height-heading-1: 3rem;
  --line-height-heading-2: 2.4rem;
  --line-height-heading-3: 1.8rem;
  --line-height-body: 2rem;
  --font-weight-heading: 700;
  --font-weight-body: 400;
  --letter-spacing-body: 0.025rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
  letter-spacing: 0.02em;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  font-weight: var(--font-weight-heading);
}

h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: var(--font-weight-heading);
}

h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  font-weight: var(--font-weight-heading);
}

main {
  padding: 6rem 2rem 2rem;
}

main h1,
main h2,
main h3,
main pre,
main ul,
main p {
  margin: 0 0 1.6rem;
}

pre {
  padding: 1rem;
  background-color: var(--shiki-color-background);
  color: var(--shiki-color-text);
  overflow: auto;
}

.link {
  display: block;
  padding: 0.5rem 0;
}
