:root {
  --color-foreground: #fff;
  --color-foreground-interactive: hsl(200deg 20% 62%);
  --color-background: hsl(215deg 48% 6%);
  --color-surface-1: hsl(210deg 50% 7%);
  --color-surface-2: hsl(218deg 42% 10%);
  --color-separator: hsl(206deg, 56%, 16%);
  --font-size-heading-1: 4rem;
  --font-size-heading-2: 3rem;
  --font-size-heading-3: 2rem;
  --font-size-body-1: 1.8rem;
  --font-size-body-2: 1.2rem;
  --font-size-body-3: 1rem;
  --line-height-heading-1: 4rem;
  --line-height-heading-2: 3.4rem;
  --line-height-heading-3: 2.2rem;
  --line-height-body-1: 2.5rem;
  --line-height-body-2: 1.65rem;
  --font-weight-heading: 700;
  --font-weight-body: 400;
  --letter-spacing-body: 0.01em;
}

@media screen and (min-width: 60rem) {
  :root {
    --font-size-heading-1: 3.4rem;
    --font-size-heading-2: 1.8rem;
    --font-size-heading-3: 1.6rem;
    --font-size-body-1: 1.3rem;
    --font-size-body-2: 1rem;
    --font-size-body-3: 0.875rem;
    --line-height-heading-1: 3rem;
    --line-height-heading-2: 2.4rem;
    --line-height-heading-3: 1.8rem;
    --line-height-body-1: 1.8rem;
    --line-height-body-2: 1.35rem;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.15vw;
}

@media (min-width: 60rem) {
  html {
    font-size: 1.2vw;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-body-1);
  letter-spacing: var(--letter-spacing-body);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  color: var(--color-foreground-interactive);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  letter-spacing: normal;
}

h1 {
  font-size: var(--font-size-heading-1);
  line-height: var(--line-height-heading-1);
  font-weight: var(--font-weight-heading);
}

h2 {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading-2);
  font-weight: var(--font-weight-heading);
}

h3 {
  font-size: var(--font-size-heading-3);
  line-height: var(--line-height-heading-3);
  font-weight: var(--font-weight-heading);
}

p {
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body-1);
  text-wrap: pretty;
}

main {
  padding: 2rem;
}

@media screen and (min-width: 60rem) {
  main {
    padding: 6rem 2rem 2rem;
  }
}

main h1,
main h2,
main h3,
main pre,
main ul,
main p {
  margin: 0 0 1.4rem;
}

pre {
  font-size: 1rem;
  padding: 1rem;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  background-color: var(--color-surface-1);
}

.link {
  display: block;
  padding: 0.5rem 0;
}
