.container {
  display: contents;
  perspective: 5000px;
}

.toggle {
  display: none;
}

@media screen and (min-width: 60rem) {
  .toggle {
    display: block;
    position: fixed;
    bottom: 4rem;
    right: 3.5rem;
    z-index: 1;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
