.main {
  display: grid;
  width: 100vw;
  min-height: 100dvh;
  perspective: 5000px;
  overflow: hidden;
}

@property --mask-gradient-transparency {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}

.section {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 1;
  translate: 0;
  visibility: visible;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, var(--mask-gradient-transparency)) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-size: 420% 100%;
  mask-position: 0% 0%;
  mask-repeat: no-repeat;
  transition:
    --mask-gradient-transparency 180ms ease-out,
    mask-position 800ms cubic-bezier(0.05, 0.34, 0, 0.49),
    visibility 0ms 0ms;
  z-index: 5;
}

[data-active='true'] .section {
  --mask-gradient-transparency: 0;
  mask-position: 40% 0%;
  visibility: hidden;
  transition:
    --mask-gradient-transparency 180ms ease-out,
    mask-position 800ms cubic-bezier(0.12, 0.33, 0.36, 0.64),
    visibility 0ms 800ms;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media screen and (min-width: 60rem) {
  .main {
    padding: 0;
  }

  [data-active='true'] .main {
    max-height: calc(100vw / 60 * 42);
  }

  .section {
    width: 34rem;
    padding-top: 8rem;
    padding-left: 6rem;
  }

  .buttons {
    align-self: start;
    flex-direction: row;
    align-items: center;
  }
}
