.main {
  display: grid;
  width: 100vw;
  min-height: 100dvh;
  perspective: 5000px;
  overflow: hidden;
}

.section {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 1;
  translate: 0;
  visibility: visible;
  mask-image: linear-gradient(
    to left,
    transparent -100%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-size: 200% 100%;
  mask-position: 0% 0%;
  mask-repeat: no-repeat;
  transition:
    mask-image 600ms ease-out,
    mask-position 600ms ease-out,
    visibility 0ms 0ms;
  z-index: 5;
}

[data-active='true'] .section {
  mask-image: linear-gradient(to left, transparent 50%, rgba(0, 0, 0, 1) 100%);
  mask-position: 100% 0%;
  visibility: hidden;
  transition:
    mask-image 600ms ease-out,
    mask-position 600ms ease-out,
    visibility 0ms 600ms;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media screen and (min-width: 60rem) {
  .main {
    padding: 0;
  }

  [data-active='true'] .main {
    max-height: calc(100vw / 60 * 42);
  }

  .section {
    width: 34rem;
    padding-top: 8rem;
    padding-left: 6rem;
  }

  .buttons {
    align-self: start;
    flex-direction: row;
    align-items: center;
  }
}
