.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex: 1;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px #415062;
  background-color: #0b121a;
}

.inputContainer:has(input:focus-visible) {
  box-shadow:
    inset 0 0 0 1px #415062,
    0 0 0 1px #0b121a,
    0 0 0 3px #415062a1;
}

.input {
  font-size: var(--font-size-body-1);
  flex: 1;
  min-height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  overflow: hidden;
}

.input::placeholder {
  color: #415062;
}

.input:focus {
  outline: none;
}

.button {
  font-size: var(--font-size-body-2);
  font-weight: 600;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  gap: 0.5rem;
  border: none;
  border-radius: 0.15rem;
  background-color: #304554;
  color: #cdedff;
  cursor: pointer;
}

@keyframes pulseOpacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

[data-state='loading'] .button {
  animation: pulseOpacity 2s ease-in-out infinite;
}

.arrowIcon {
  display: none;
}

.message {
  font-size: var(--font-size-body-3);
  position: absolute;
  bottom: 0;
  translate: 0 120%;
  color: var(--color-foreground-secondary);
}

[data-state='success'] .message {
  color: #c5e478;
}

[data-state='error'] .message {
  color: #f76d6d;
}

@media screen and (min-width: 60rem) {
  .inputContainer {
    min-width: 32rem;
  }

  .arrowIcon {
    display: block;
    position: relative;
    top: -0.1rem;
  }
}
