name: Test Screenshot

on:
    push:
        branches: [main]
        paths:
            - "packages/screenshot/**"
    pull_request:
        branches: [main]
        paths:
            - "packages/screenshot/**"

permissions:
    contents: read

concurrency:
    group: test-screenshot-${{ github.event_name == 'pull_request' && github.event.pull_request.number || github.sha }}
    cancel-in-progress: true

env:
    NODE_ENV: test

jobs:
    test:
        runs-on: macos-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
              with:
                  persist-credentials: false

            - name: Setup pnpm
              uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda

            - name: Setup Node.js
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
              with:
                  node-version: 22
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile --ignore-scripts

            - name: Audit dependencies
              run: pnpm audit --prod --audit-level=high

            - name: Install Playwright Browsers
              run: pnpm exec playwright install --with-deps chromium

            - name: Run screenshot tests
              working-directory: packages/screenshot
              run: pnpm test
