name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency: test-${{ github.ref_name }}

env:
  NODE_ENV: test
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build MDX package
        run: pnpm --filter=@renoun/mdx build

      - name: Run tests
        run: pnpm --filter=renoun test
